controller:
  serviceEnabled: true
  serviceType: LoadBalancer

  servicePort: 8080
  targetPort: 8080


  installPlugins:
    - configuration-as-code:latest
    - job-dsl:latest
    - git:latest
    - http_request:latest
    - workflow-aggregator:latest
    - pipeline-model-definition:latest
    - workflow-durable-task-step:latest
    - durable-task:latest
    - kubernetes:latest
    - kubernetes-client-api:latest
    - kubernetes-credentials:latest

  JCasC:
    defaultConfig: true
    configScripts:
      seed: |
        jenkins:
          systemMessage: "Configured by JCasC"


        jobs:
          - script: >
              pipelineJob('seed-jobs') {
                definition {
                  cps {
                    sandbox(true)
                    script("""
                      node {
                        stage('Create jobs') {
                          jobDsl(
                            scriptText: '''
                              pipelineJob("Curl pipeline") {
                                definition {
                                  cpsScm {
                                    scm {
                                      git {
                                        remote { url("https://github.com/haykatan/home_test.git") }
                                      }
                                    }
                                    scriptPath("Jenkinsfile")
                                  }
                                }
                              }
                            '''
                          )
                        }
                      }
                    """.stripIndent())
                  }
                }
              }

